<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cloudflare:BaseUrl" value="https://api.cloudflare.com"/>
    <add key="cloudflare:apikey" value=""/>
    <add key="cloudflare:email" value=""/>
    

  </appSettings>
</configuration>